<mat-toolbar>
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item><a href= 'https://www.youtube.com/watch?v=AIqKlIA7pV8'>Video sobre SweetAlert2</a></button>
        </mat-menu>
       </button>
    <span>EMPANADAS TU DURO</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Descargar</button>
        <button mat-menu-item>Copiar Enlace</button>
      </mat-menu>
    </button>
  </mat-toolbar>
  